doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet')
  title Read Article
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  // linked css
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='../static/utils.css')
  link(rel='stylesheet' href='../static/blog.css')
  link(rel='stylesheet' href='../static/blogres.css')
  link(rel='stylesheet' href='../static/index-responsive.css')
// Navigation
.main-container
  nav.navigation.nav-width.m-auto.nav-top-m
    ul
      a(href='/')
        img(src='../static/img/nav-logo.png' alt='')
      li.item-3
        a(href='/')
          i.fa-solid.fa-house
          |  Home
      li.item-2
        a(href='/write')
          i.fa-solid.fa-pen-nib
          |  Write
      li.item-3
        a(href='/contact')
          i.fa-regular.fa-address-book
          |  Contact us
      li.item-4
        a(href='/signin')
          i.fa-solid.fa-arrow-right-to-bracket
          |  Sign
          |                         In
    .search.font-1
      button.btn
        a(href='/signup')  Get Started 
  hr.nav-line
// blog home
.home-blog
  .home-blog-img.width-1.m-auto
    .left
      h3 Lorem ipsum dolor, sit amet consectetur adipisicing
      p.font-1
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dolores veritatis quia laudantium
        | omnis fugit Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, delectus Lorem,
        | ipsum dolor sit amet consectetur adipisicing
    .right
      img(src='../static/img/contact-bg1.jpg' alt='')
.art-content.width-4.m-auto.font-1
  h3.center Blogger redirects here for the Google service, see Blogger service
  .join.width-5
    a(href='https://twitter.com/asadshamsuddin' target='_blank')
      img(src='../static/img/twitter.png' alt='twitter')
    a(href='https://www.linkedin.com/in/muhammad-asad-shams-ud-din/' target='_blank')
      img(src='../static/img/linkedin.png' alt='linkedin')
    a(href='https://web.facebook.com/Muhammadasadshamsuddin/' target='_blank')
      img(src='../static/img/facebook.png' alt='facebook')
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or add content to a blog.
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
  p
    | A blog (a truncation of &quot;weblog&quot;)[1] is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. Until 2009, blogs were often the work of a single individual, occasionally of a small group, and often covered a single subject or topic. In the 2010s, &quot;multi-author blogs&quot; (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other &quot;microblogging&quot; systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or
.targate-container
  .targated-people-container.width-1.m-auto
    h2.font-1 People Also Know About That
    .targated-people.width-2.m-auto
      .targate
        img(src='../static/img/target-1.jpg' alt='')
        h3.font-1
          a(href='')  Lorem ipsum dolor sit amet, consectetur adipisicing.
        span.font-1 Author : Asad Khan | 4 min to read
      .targate
        img(src='../static/img/target-2.jpg' alt='')
        h3.font-1
          a(href='')  Lorem ipsum dolor sit amet, consectetur adipisicing.
        span.font-1 Author : Asad Khan | 4 min to read
      .targate
        img(src='../static/img/target-3.jpg' alt='')
        h3.font-1
          a(href='') Lorem ipsum dolor sit amet, consectetur adipisicing.
        span.font-1 Author : Asad Khan | 4 min to read
      .targate
        img(src='../static/img/target-4.jpg' alt='')
        h3.font-1
          a(href='')  Lorem ipsum dolor sit amet, consectetur adipisicing.
        span.font-1 Author : Asad Khan | 4 min to read
.footer-container
  footer.footer.width-2.m-auto
    | Copy Write &copy; AK Developer&apos;s 2023 | All Rights Reserved
