doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  title www.akblogger&apos;s.com
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='../static/utils.css')
  link(rel='stylesheet' href='../static/index-responsive.css')
  link(rel='stylesheet' href='../static/write.css')
// Navigation
.main-container
  nav.navigation.nav-width.m-auto.nav-top-m
    .nav-left
      a(href='/') AK Blogger&apos;s
    .nav-right
      button.nav-btn
        a(href='/signin')  Sign In 
  hr.nav-line
// write home
.write-container
  .write.width-1.m-auto
    .w-left
      h1
        | Welcome To Our AK Blogger&apos;s Community 
        br
        |  Let&apos;s Join Us
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing amet consectetur amet consectetur adipisicing
        br
        | Mpsum dolor sit amet conse amet consectetur amet consectetur amet consectetur 
        br
        |  Rorem ipsum
        |                     dolor sit amet consectetur adipisicing elit. Fuga.
      button.btn-sn
        a(href='/signup') Start Reading
// new section
.wrt-hm.width-1.m-auto
  .wrt-left
    h1
      | Lorem ipsum dolor sit, amet consectetur adipisicing elitm anil
      br
      | mutrul ipsum dolor sit amet
      |                 consectetur amityn 
      br
      |  onsectetur ipsum dolor sit amet  
      br
      |  onsectetur ipsum dolor sit
  .wrt-right
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quam quia 
      br
      |  autem fuga quasi
      |                 laboriosam doloremque maxime voluptas commodi 
      br
      |  nobis, accusamus iste unde qui placeat eveniet
      |                 voluptates incidunt delectus laborum!
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quam quia 
      br
      |  autem fuga quasi
      |                 laboriosam doloremque maxime voluptas commodi 
      br
      |  nobis, accusamus iste unde qui placeat eveniet
      |                 voluptates incidunt delectus laborum 
      br
      |  nobis, accusamus iste unde qui placeat eveniet voluptates
      |                 incidunt delectus laborum 
      br
      |  nobis, accusamus iste unde qui placeat eveniet voluptates
      |                 incidunt delectus laborum
.ft
  h3.ft-h1
    a(href='/signup')  Write 
    i.fa-solid.fa-arrow-right
  h3.ft-h2
    a(href='/')  Home 
    i.fa-solid.fa-arrow-right
.m-main-con
  hr.nav-line
  .main-container
    nav.navigation.nav-width.m-auto.nav-top-m
      .nav-left
        a(href='/') AK Blogger&apos;s
      .nav-right
        button.nav-btn
          a(href='/signup')  Sign Up 
script(src='../static/index.js')